

<h2 *ngIf="data.refund" mat-dialog-title>{{data.refund}}</h2>
<h2 *ngIf="data.charge" mat-dialog-title>{{data.charge}}</h2>
<div *ngIf="message" style="color:red; padding:5px 0;">Status: {{message}}</div>

<mat-dialog-content>
	<table>
	   <tr *ngIf="data.refund">
			<td class="sd_item" style="padding-bottom:0px !important">
				<label style="margin-bottom:0px !important; font-size:16px">
              <strong>Refund Amount</strong>
            </label>
			</td>
		</tr>
		<tr *ngIf="data.charge">
			<td class="sd_item" style="padding-bottom:0px !important">
				<label style="margin-bottom:0px !important; font-size:16px">
              <strong>Charge Amount</strong>
            </label>
			</td>
		</tr>
		<tr *ngIf="data.refund">
			<td>
				<input class="width_90" type="number" value="" [(ngModel)]="refundAmount" required>
			</td>
		</tr>
		
		<tr *ngIf="data.charge">
			<td>
				<input class="width_90" type="number" value="" [(ngModel)]="chargeAmount" required>
			</td>
		</tr>
		
		<tr *ngIf="ccList && ccList.length && data.charge">
			<td class="sd_item">
			 <select [(ngModel)]="selectedCard" (ngModelChange)="onSelectCard($event)"> 
            <option value="undefined" disabled>Select a Card</option>
            <option *ngFor="let card of ccList" [ngValue]="card">
             {{card.brand}}  ****{{card?.last4}} {{card.exp_month}}/{{card.exp_year}}
	          </option>
	         </select>
			</td>
		</tr>
		
		<tr *ngIf="ccList && ccList.length && data.refund">
			<td class="sd_item">
			 <select [(ngModel)]="chargeSelectedCard" (ngModelChange)="onSelectChargeCard($event)"> 
            <option value="undefined" disabled>Select a Card to be Refunded</option>
            <option *ngFor="let card of chargeCCList" [ngValue]="card">
             {{card.brand}}  ****{{card?.last4}} {{card.exp_month}}/{{card.exp_year}}
	          </option>
	         </select>
			</td>
		</tr>
	</table>
     
     <br>

	<button (click)="show=!show" style="margin-bottom:0px !important; font-size:16px">
              Add a Card 
            </button>
            
      <div style="margin:10px 10px 10px 2px; font-size:13px; color:red; font-weight:bold;">{{message}}</div>
    
    <div *ngIf="show"> 
	<table>
		<tr>
			<td>
				Credit Card Number
				<input class="width_90" type="text" value="" [(ngModel)]="chargeCardNumber" required>
			</td>
		</tr>
	</table>

	<table>
		<tr>
			<td class="sd_item" colspan="3">
				Expiration Date - Month
				<input class="width_90" type="text" value="" [(ngModel)]="chargeExpiryMonth" placeholder="MM" required>

			</td>
			<td class="sd_item">
				Expiration Date - Year
				<input class="width_90" type="text" value="" [(ngModel)]="chargeExpiryYear" placeholder="YY" required>

			</td>
			<td class="sd_item">
				Security Code (CVV)
				<input class="width_90" type="text" value="" [(ngModel)]="chargeCvc" required>

			</td>
		</tr>
	</table>

	<table>
		<tr>
			<td>
				Card Holder Name
				<input class="width_90" type="text" value="" [(ngModel)]="chargeCardName" required>
			</td>
		</tr>
	</table>

	<table>
		<tr>
			<td class="sd_item" colspan="3">
				Address
				<input #search class="width_90" type="text" value="" [(ngModel)]="chargeBill_street" (focus)="autocompleteSearch()" required>

			</td>
			<td class="sd_item">
				City
				<input class="width_90" type="text" value="" [(ngModel)]="chargeBill_city" required>

			</td>
			<td class="sd_item">
				State
				<input class="width_90" type="text" value="" [(ngModel)]="chargeBill_state" required>

			</td>
		</tr>
		<tr>
			<td class="sd_item">
				Zip
				<input class="width_90" type="text" value="" [(ngModel)]="chargeBill_zipcode" required>
			</td>
			<td></td>
			<td></td>
		</tr>
	</table>
	</div>

</mat-dialog-content>

<mat-dialog-actions>

	<button class="dialog-button" (click)="close()">
        Close
    </button>

	<button class="dialog-button" *ngIf="data.refund"  (click)="getRefundToken()">
        Refund payment
    </button>

	<button class="dialog-button" *ngIf="data.charge"  (click)="getChargeToken()">
        Charge payment
    </button>

</mat-dialog-actions>