.forms{
	background-color:#f9f9f9;

}

input {

	padding:5px !important;
}

select {
	height:37px;
}

table, td {
	border:none;
}

th {
	padding:8px;
}


.ship_details_tbl tr td {

	padding:10px !important;
}

.width_90 {
	width: 90%;
	margin-bottom: 10px;
}

.dialog-button {
	margin-right:10px;
}

#outer{

	margin-top:10px !important;
}
.red-border{

	border: 1px solid red;
}

.alert{

	font-size:12px;
	color:red;
	padding:0px;
	bottom:0px;
}

.footer{
	text-align: center;
	padding-top: 7px;
	 position:relative;
	 bottom:0;
}

.calculated {
  text-align:center;
}

