 <div class="row">
        <div class="col text-center text-white"> 
            <!-- Headers --> 
        </div>
    </div>
    
    <div id="login-form" class="row justify-content-center mt-5">
        <div class="col-lg-5 col-md-7 col-9">
            <div class="card">
               <h5 style="background: #0c1a3a; color:white;" class="card-header text-center">RESET PASSWORD</h5>
                <div class="card-body">
                
                 <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-lock prefix" style="margin-top:22px; font-size:25px; color: #0c1a3a"></i></span>
					 <input placeholder="New Password" style="border-bottom: 1px solid lightgray; border-radius:0;" class="form-control" [formControl]="newpwd" [(ngModel)]="newpassword"  type="password"> </div>
			
			<div style="color:red; font-size:10px; margin-top:5px; margin-left:45px;" *ngIf="newpwd.touched && newpwd.invalid">
				Please enter a password with at least 6 characters
			</div>
			
	
			<br>
			
			         <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-lock prefix" style="margin-top:22px; font-size:30px; color:#0c1a3a;"></i></span>
					 <input placeholder="Confirm Password" style="border-bottom: 1px solid lightgray; border-radius:0;" class="form-control" [formControl]="confirmpwd" [(ngModel)]="confirmpassword"  type="password"> </div>
			
			<div style="color:red; font-size:10px; margin-top:5px; margin-left:45px;" *ngIf="confirmpwd.touched && confirmpwd.invalid">
				Please enter a valid password
			</div>
			<div style="color:red; font-size:10px; margin-top:5px; margin-left:45px;" *ngIf= "confirmpassword != null && newpassword !== confirmpassword">Passwords do not match!</div>
			 
			
			
	
			 
			 
			 <br>
			 
			 <div style="text-align:center;">
			
			<button (click)="resetPassword()" style="cursor:pointer; padding:5px 50px; background:transparent; border:0.75px solid #0c1a3a;" [disabled]="!newpassword || newpassword != confirmpassword">Reset Password</button>
				
					</div>
					
					
					
					
	
                      
                </div>

            </div>
            
        </div>
    </div>