<h5 style="text-align:center; padding-top:40px; color:#c3c3c3">Account Activation</h5>
   
<br>
	
<div  style="text-align:center; color: #0c1a3a">
	<p>Your account is successfully activated!<p>
	<p>Please <a routerLink="/login">log in to your account.</a></p>
</div>
<!--
<div  style="text-align:center; color: #0c1a3a">
	<p>There was a problem with your registration.<p>
	<p>We will send you another email to activate your account.</p>
	<p>Click on the button below to proceed:</p>
	 <button style="background: #0c1a3a; color:white; border:none; padding:10px; margin-top:10px; cursor:pointer" (click)="reactivateEmail()">Send email activation</button>
</div>
-->
