<div class="roast-io-corner-ribbon">
  Beta
</div>

<section class="headers pb-60 pb-sm-80 pb-lg-240 dark_bkgrd" id="headers-5">
  <div
    class="ph-15 ph-sm-30 ph-lg-70 mb-30 mb-lg-150 dark_bkgrd"
    style="padding-top: 20px; padding-left:40px; padding-right:50px; background: #031A3A;"
  >
    <div class="">
      <!--			<div class="col-2 col-sm-4">-->
      <!-- <nav class="navbar d-lg-none"><a href=""><img src="img/icons/burger.svg"/></a></nav> -->

      <!-- <nav class="navbar d-none d-lg-block"><a href="">Menu item 1</a><a href="">Menu item 2</a><a href="">Menu item 3 </nav></a> -->

      <!--		</div>-->
      <div style="display: flex; flex-direction:row; justify-content: center;">
        <img
          src="assets/img/logos/plycon_seal2.1.png"
          width="110"
          height="110"
          style="margin: 15px 10px;"
        />
        <div style="margin-top:40px;">
          <div style="font-size:20px;">Carrier Partnership Program</div>
          <div style="font-size:20px;">Plycon MicroMove powered by PTG</div>
        </div>
        <div
          *ngIf="userRole === 'superAdmin'"
          style="font-size:17px; overflow:hidden; margin-top:65px; margin-left:475px;"
        >
          Welcome, <strong>Admin</strong>
        </div>
        <div
          *ngIf="userRole !== 'superAdmin'"
          style="font-size:17px; overflow:hidden; width:250px; margin-left: 360px; margin-top: 65px;"
        >
          <span *ngFor="let order of ordersList">
            Carrier Partner : <strong>{{ order.user.name }}</strong>
          </span>
        </div>
        <div style="margin-left:30px; margin-top: 65px;">
          <a
            style="padding-left: 20px; border-left: 1px solid lightgray;"
            [routerLink]="['']"
            (click)="logout()"
            >Logout</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="container order">
    <div class="shipping">
      <div class="header">
        Referral Profiles
      </div>
      <div class="loading" *ngIf="loading"></div>
      <div id="outer" style="margin-bottom: 10px;">
        <button
          *ngIf="userRole === 'superAdmin'"
          [routerLink]="['/register']"
          style="padding: 1.25px 5px; margin-right:10px"
        >
          Create Account
        </button>
        <select
          *ngIf="userRole === 'superAdmin'"
          [(ngModel)]="partnerSearch"
          (change)="selectPartner($event)"
        >
          <option value="undefined" disabled>Select a Partner</option>
          <option>Select all Partners</option>
          <option *ngFor="let order of ordersList">{{
            order.user.name
          }}</option>
        </select>
        <div class="inner">
          <input
            *ngIf="userRole !== 'superAdmin'"
            type="submit"
            [routerLink]="['/referral']"
            value="Create Profile"
          />
        </div>
      </div>
      <table class="tableStyle">
        <thead>
          <tr>
            <th *ngIf="userRole === 'superAdmin'">Partner</th>
            <th scope="col">Quote #</th>
            <th scope="col">Date</th>
            <th scope="col">Origin Name</th>
            <th scope="col">Consignee Name</th>
            <th scope="col">Total Cost</th>
            <th scope="col">Shipping Status</th>
            <th scope="col">Commission Amount</th>
            <th scope="col">Commission Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of filteredOrders">
            <td data-label="Partner" *ngIf="userRole === 'superAdmin'">
              {{ order.user.name }}
            </td>
            <td data-label="Quote">{{ order["_id"].substring("20") }}</td>
            <td data-label="Date">{{ order.created | date }}</td>
            <td data-label="Origin Name">
              {{ order.shippingDetails.originName }}
            </td>
            <td data-label="Consignee Name">
              {{ order.shippingDetails.conName }}
            </td>
            <td data-label="Total Cost">{{ order.finalTotal | currency }}</td>
            <td data-label="Shipping Status">
              {{ order.status.toUpperCase() }}
            </td>
            <td data-label="Commission Amount">
              {{ (order.pq1 / 100) * order.transportationCharge | currency }}
            </td>
            <td data-label="Commission Status">
              {{ order.commissionStatus.toUpperCase() }}
            </td>
            <td
              style="padding:0 15px; font-size:13px; text-align:center; font-weight:400;"
            >
              <a [routerLink]="['/referral', order['_id']]">Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <table class="order_ref_tbl">
        <tr class="dark_bkgrd">
          <th *ngIf="userRole === 'superAdmin'">Partner</th>
          <th>Quote #</th>
          <th>Date</th>
          <th>Origin Name</th>
          <th>Consignee Name</th>
          <th>Total Cost</th>
          <th>Shipping Status </th>
          <th>Commission Amount</th>
          <th>Commission Status</th>
          <th></th>
        </tr>
        <tr *ngFor="let order of filteredOrders">
          <td *ngIf="userRole === 'superAdmin'">{{order.user.name}}</td>
           <td>{{order['_id'].substring('20')}}</td>
          <td>{{order.created | date}}</td>
          <td>{{order.shippingDetails.originName}}</td>
          <td>{{order.shippingDetails.conName}}</td>
          <td>{{order.finalTotal | currency}}</td>
          <td>{{order.status.toUpperCase()}}</td>
          <td>{{(order.pq1/100) * order.transportationCharge | currency}}</td>
          <td>{{order.commissionStatus}}</td>
          <td style="padding:0 15px; font-size:11px;"><a [routerLink]="['/referral', order['_id']]">Edit</a></td>
        </tr>
      </table> -->

      <table style="margin-top: 20px;" class="order_ref_tbl">
        <tr class="dark_bkgrd" style="width: 20%;">
          <th style="width: 7%; text-align: left;"></th>
          <th style="width: 5%; text-align: left;"></th>
          <th style="width: 24%; text-align: left;"></th>
          <th style="width: 17%; text-align: left;">Total Commissions Paid</th>
          <th style="width: 23%; text-align: left;">
            Total Commissions Pending
          </th>
          <th style="width: 20%; text-align: left;">Total Commissions</th>
          <th></th>
        </tr>
        <tr>
          <th style="width: 7%; text-align: left;"></th>
          <th style="width: 5%; text-align: left;"></th>
          <th style="width: 24%; text-align: left;"></th>
          <th style="width: 17%; text-align: left;">
            {{ totalCommissionsPaid | currency }}
          </th>
          <th style="width: 23%; text-align: left;">
            {{ totalCommissionsPending | currency }}
          </th>
          <th style="width: 20%; text-align: left;">
            {{ totalCommissions | currency }}
          </th>
          <th></th>
        </tr>
      </table>

      <div style="font-weight: bold; font-size: 11px; height: 13px;">
        Note: Pricing can be changed at any time and at the discretion of Plycon
        MicroMove based on financial variables.
      </div>
    </div>
  </div>
  <footer class="footer">
    Plycon MicroMove
    <br />
    US DOT #0331582
    <br />
    Copyright 2018 (Patent Pending)
  </footer>
</section>
