div {
  margin:0 auto;
  width:100%;
  
}
input {
  margin-bottom:3px;
  padding:10px;
  width: 100%;
  //border:1px solid #CCC
}
button {
  padding:10px
}
label {
  cursor:pointer
}
#form-switch {
  display:none
}
#register-form {
  display:none
}
#form-switch:checked~#register-form {
  display:block
}
#form-switch:checked~#login-form {
  display:none
}