<div class="roast-io-corner-ribbon">
	Beta
</div>

<section class="headers pb-60 pb-sm-80 pb-lg-240 dark_bkgrd" id="headers-5">
	<div class="ph-15 ph-sm-30 ph-lg-70 mb-30 mb-lg-150 dark_bkgrd" style="padding-top: 20px; padding-left:40px; padding-right:50px; background: #031A3A;">
		<div class="">
			<!--			<div class="col-2 col-sm-4">-->
			<!-- <nav class="navbar d-lg-none"><a href=""><img src="img/icons/burger.svg"/></a></nav> -->

			<!-- <nav class="navbar d-none d-lg-block"><a href="">Menu item 1</a><a href="">Menu item 2</a><a href="">Menu item 3 </nav></a> -->

			<!--		</div>-->
			<div style="display: flex; flex-direction:row; justify-content: center">
				<img src="assets/img/logos/plycon_seal2.1.png" width="110" height="110" style="margin: 15px 10px;" />
				<div style="margin-top:40px;">
				<div style="font-size:20px;">Carrier Partnership Program</div>
				<div style="font-size:20px;">Plycon MicroMove powered by PTG</div>
				</div>
				<div *ngIf="userRole === 'superAdmin'" style="font-size:17px; overflow:hidden; margin-top:65px; margin-left:475px;">
				Welcome,  <strong>Admin</strong>
			</div>
			<div *ngIf="userRole !== 'superAdmin' && order?.user?.name" style="font-size:17px; overflow:hidden; width:250px; margin-left: 350px; margin-top: 65px;">
				<span>Carrier Partner : <strong>{{order?.user?.name}}</strong></span>
			</div>
			<div style="margin-left:30px; margin-top: 65px;">
			<a style="padding-left: 20px; border-left: 1px solid lightgray;" [routerLink]="['']" (click)="logout()">Logout</a>
		</div>
			</div>
					</div>
	</div>
	<div class="container forms">
		<div class="shipping">
			<div class="loading" *ngIf="loading"></div>

			<form [formGroup]="ShippingForm">
				<div class="header">
					Referral Details
				</div>
				<table class="ship_details_tbl">
					<tr>
						<td class="sd_item">
							Quote #: <strong>{{ id ? id.substring(20) : "" }}</strong>
						</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="sd_item">
							Name/Origin

							<span class="alert" *ngIf="ShippingForm.controls.originName.errors?.required && !isFormValid">
                             **
                             </span>

							<input class="width_100" type="text" formControlName="originName" [ngClass]="{'red-border': ShippingForm.controls.originName.invalid && ShippingForm.controls.originName.touched}" [(ngModel)]="originName" name="originName" required>

						</td>
						<td class="sd_item" style="width: 10%;">
							Origin (Pick Up)/Address

							<span class="alert" *ngIf="ShippingForm.controls.originAddress.errors?.required && !isFormValid">
                             **
                             </span>


							<input id="autocomplete3" class="width_100" type="text" formControlName="originAddress" value="" [ngClass]="{'red-border': (ShippingForm.controls.originAddress.invalid && ShippingForm.controls.originAddress.touched)}" required>

						</td>
						<td class="sd_item">
							Phone/Origin

							<span class="alert" *ngIf="ShippingForm.controls.originPhone.errors?.required && !isFormValid">
                             **
                             </span>
							<span class="alert" *ngIf="ShippingForm.controls.originPhone.errors?.pattern">
                             add area code
                             </span>


							<input class="width_100" type="text" formControlName="originPhone" value="" [ngClass]="{'red-border': ShippingForm.controls.originPhone.invalid && ShippingForm.controls.originPhone.touched}" required>

						</td>
						<td class="sd_item">
							Special Requests

							<input class="width_100" type="text" formControlName="specialRequests" value="" [ngClass]="{'red-border': ShippingForm.controls.specialRequests.invalid && ShippingForm.controls.specialRequests.touched}">
						</td>
					</tr>
					<tr>
						<td class="sd_item">
							Name/Consignee

							<span class="alert" *ngIf="ShippingForm.controls.conName.errors?.required && !isFormValid">
                             **
                             </span>


							<input class="width_100" type="text" formControlName="conName" value="" [ngClass]="{'red-border': ShippingForm.controls.conName.invalid && ShippingForm.controls.conName.touched}" required>

						</td>
						<td class="sd_item">
							Consignee (Drop Off)/Address
							<div style="display:none" #myDiv (click)="calcDistance()">Calc</div>
							<span class="alert" *ngIf="ShippingForm.controls.conAddress.errors?.required && !isFormValid">
                             **
                             </span>
							<!--
              <span class="alert" *ngIf="ShippingForm.controls.conAddress.errors?.pattern">
                             area code + number
                             </span>
-->

							<input id="autocomplete2" class="width_100" type="text" formControlName="conAddress" value="" [ngClass]="{'red-border': ShippingForm.controls.conAddress.invalid && ShippingForm.controls.conAddress.touched}" required>
						</td>
						<td class="sd_item">
							Phone/Consignee

							<span class="alert" *ngIf="ShippingForm.controls.conPhone.errors?.required && !isFormValid">
                             **
                             </span>
							<span class="alert" *ngIf="ShippingForm.controls.conPhone.errors?.pattern">
				area code + number
              </span>


							<input class="width_100" type="text" formControlName="conPhone" value="" [ngClass]="{'red-border': ShippingForm.controls.conPhone.invalid && ShippingForm.controls.conPhone.touched}" required>
						</td>
						<td class="sd_item" style="font-size: 12px;">
							Primary Email for Delivery

							<span class="alert" *ngIf="ShippingForm.controls.email.errors?.required && 
							!isFormValid">
                             **
                             </span>

							<input class="width_100" type="text" formControlName="email" value="" [ngClass]="{'red-border': ShippingForm.controls.email.invalid && ShippingForm.controls.email.touched}" required>

						</td>
					</tr>
				</table>
			</form>

			<div class="header">
				Demo Pricing Table
			</div>

			<table class="ref_tbl">
				<tr class="dark_bkgrd">
					<th></th>
					<th>0-500 Miles</th>
					<th>501-1200 Miles</th>
					<th>1201-2000 Miles</th>
					<th>2001+ Miles</th>
				</tr>
				<tr>
					<th>Cubic</th>
					<th>White Glove</th>
					<th>White Glove</th>
					<th>White Glove</th>
					<th>White Glove</th>
				</tr>
				<tr class="dark_bkgrd">
					<td>0-25</td>
					<td>$6.25</td>
					<td>$6.50</td>
					<td>$7.25</td>
					<td>$7.50</td>
				</tr>
				<tr>
					<td>25-50</td>
					<td>$5.75</td>
					<td>$6.00</td>
					<td>$6.75</td>
					<td>$7.25</td>
				</tr>
				<tr class="dark_bkgrd">
					<td>51-75</td>
					<td>$5.25</td>
					<td>$5.50</td>
					<td>$6.00</td>
					<td>$7.00</td>
				</tr>
				<tr>
					<td>75-100</td>
					<td>$5.00</td>
					<td>$5.25</td>
					<td>$5.75</td>
					<td>$6.75</td>
				</tr>
				<tr class="dark_bkgrd">
					<td>101-150</td>
					<td>$4.75</td>
					<td>$5.00</td>
					<td>$5.50</td>
					<td>$6.50</td>
				</tr>
				<tr>
					<td>151-200</td>
					<td>$4.50</td>
					<td>$4.75</td>
					<td>$5.25</td>
					<td>$6.25</td>
				</tr>
				<tr class="dark_bkgrd">
					<td>200+</td>
					<td>CP Email PMM for a Quote</td>
					<td>CP Email PMM for a Quote</td>
					<td>CP Email PMM for a Quote</td>
					<td>CP Email PMM for a Quote</td>
				</tr>
				<tr>
					<td>Minimum:</td>
					<td>$250</td>
					<td>$300</td>
					<td>$350</td>
					<td>$400</td>
				</tr>
			</table>

			<form [formGroup]="InventoryForm">
				<div class="header">
					Inventory
				</div>
				<table class="dimensions_tbl">
					<tr class="dark_bkgrd">
						<th>Item #</th>
						<th>Quantity
							<span class="alert" *ngIf="!isInventoryValid">
                 **
                </span></th>
						<th>Item Description
							<span class="alert" *ngIf="!isInventoryValid">
                 **
                </span>
						</th>
						<th>Length (in.)
							<span class="alert" *ngIf="!isInventoryValid">
                 **
                </span>

						</th>
						<th>Width (in.)
							<span class="alert" *ngIf="!isInventoryValid">
                 **
                </span>

						</th>
						<th>Height (in.)
							<span class="alert" *ngIf="!isInventoryValid">
                 **
				</span>
						</th>
						<th>Cubic (ft.)

						</th>
						<th>
							<button type="button" (click)="addInvItem()" style="width: 75%; margin-top: 3px; margin-bottom: 3px;">
                Add Item
              </button>
						</th>


					</tr>
					<tr *ngFor="let item of inventory; let index = index; trackBy:trackByFn">
						<td>
							{{index + 1}}
						</td>
						<td>
							<input (keydown)="calculateOrder()" type="number" class="width_100" name="quantity_{{index}}"  [(ngModel)]="inventory[index].quantity" [ngModelOptions]="{standalone: true}">
						</td>
						<td>

							<input (keydown)="calculateOrder()" type="text" class="width_100" name="description_{{index}}"  [(ngModel)]="inventory[index].description" [ngModelOptions]="{standalone: true}">
						</td>
						<td>

							<input (keydown)="calculateOrder()" type="number" class="width_100" name="length_{{index}}" [(ngModel)]="inventory[index].length" [ngModelOptions]="{standalone: true}">
						</td>
						<td>

							<input (keydown)="calculateOrder()" type="number" class="width_100" name="width_{{index}}" [(ngModel)]="inventory[index].width" [ngModelOptions]="{standalone: true}">
						</td>
						<td>

							<input (keydown)="calculateOrder()" type="number" class="width_100" name="height_{{index}}"  [(ngModel)]="inventory[index].height" [ngModelOptions]="{standalone: true}">
						</td>
						<td>

							<input (keydown)="calculateOrder()" type="number" class="width_100" name="cube_{{index}}" [(ngModel)]="inventory[index].cube" [ngModelOptions]="{standalone: true}">
						</td>
						<td> <button type="button" (click)="removeInvItem(index)" style="width: 75%; margin-top: 3px; margin-bottom: 3px;">
                Remove Item
              </button>
						</td>

					</tr>


					<tr>
						<td style="border: none;"></td>
						<td style="border: none;"></td>
						<td style="border: none;"></td>
						<td style="border: none;"></td>
						<td style="border: none;"></td>
						<td style="border: none; text-align: right; font-weight: bold;">
							TOTAL CUBIC (ft.): &nbsp;
						</td>
						<td style="border: 1px solid none; font-weight: bold; background-color: #ffefd1;">
							{{totalCube}}
						</td>
						<td></td>
					</tr>
					<tr id="outer">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</form>

			<form [formGroup]="OrderForm">
				<div class="header">
					Referral Cost Overview
				</div>
				<table class="distance_tbl">
					<tr class="dark_bkgrd">
						<th>
						</th>
						<th>
						</th>
						<th style="text-align: center;">
							Total
						</th>
					</tr>
					<tr>
						<th>Total Cube</th>
						<td></td>
						<td class="calculated" style="border-bottom: 1px solid white; border-top: 1px solid white; font-weight: bold; background-color: #ffefd1;">
							{{totalCube}}
						</td>
					</tr>
					<tr class="dark_bkgrd">
						<th>Total Distance</th>
						<td>
							<span class="alert" *ngIf="OrderForm.controls.totalDistance.errors?.required">
                             **
                             </span>

							<input (keydown)="calculateOrder()" formControlName="totalDistance" id="distance" name="distance" [ngClass]="{'red-border': OrderForm.controls.totalDistance.invalid && OrderForm.controls.totalDistance.touched}" required>
							<i>
                miles
              </i>
						</td>
						<td>
						</td>
					</tr>
					<tr>
						<th>Mileage Rate</th>
						<td>
						</td>
						<td class="calculated" style="border-bottom: 1px solid white; border-top: 1px solid white; font-weight: bold; background-color: #ffefd1;">
							<span *ngIf="isString(mileageRate)"> {{mileageRate}}</span>
							<span *ngIf="!isString(mileageRate)"> {{mileageRate | currency}}</span>
						</td>
					</tr>
					<tr class="dark_bkgrd">
						<th>Transportation Charge
							<div style="font-size: 14px; display: inline-block; font-style: italic;">
								(Must meet the minimum charge.)
							</div>
						</th>
						<td>
						</td>
						<td class="calculated" style="border-bottom: 1px solid white; border-top: 1px solid white; font-weight: bold; background-color: #ffefd1;">
							<span *ngIf="isString(transportationCharge)"> {{transportationCharge}}</span>
							<span *ngIf="!isString(transportationCharge)"> {{transportationCharge | currency}}</span>
						</td>
					</tr>
					<tr>
						<th>Fuel Charge
							<div style="font-size: 14px; display: inline-block; font-style: italic;">
								(21% of Transportation Charge)
							</div>
						</th>
						<td>
						</td>
						<td class="calculated" style="border-bottom: 1px solid white; border-top: 1px solid white; font-weight: bold; background-color: #ffefd1;">
							<span *ngIf="isString(fuelCharge)"> {{fuelCharge}}</span>
							<span *ngIf="!isString(fuelCharge)"> {{fuelCharge | currency}}</span>
						</td>
					</tr>
					<tr class="dark_bkgrd">
						<th>Item(s) Worth Valuation Protection Insurance
							<div style="font-size: 14px; display: inline-block;font-style: italic;">
								Check to accept purchased valuation protection amount.
								<input (change)="calculateOrder()" type="checkbox" name="" formControlName="itemWorthProtection" style="transform: scale(1.5);top:-1px;left:10px">
							</div>
							<div style="font-size: 14px; display: inline-block;font-style: italic;">(Note: If valuation protection purchased)
							</div>
							<div style="font-size: 14px; display: inline-block; font-style: italic;">
								Purchased $30 per $1000 Wholesale Value of Total Wholesale Worth of Item(s)
							</div>
						</th>
						<td>

							<i>
                $
              </i>
							<input (keydown)="calculateOrder()" type="text" formControlName="itemWorth" value="">

						</td>
						<td class="calculated" style="border-bottom: 1px solid white; border-top: 1px solid white; font-weight: bold; background-color: #ffefd1;">
							{{itemWorthTotal | currency}}
						</td>
					</tr>
					<tr>
						<th>Origin Destination Fee Additional Special Charge

							<br>
							<div style="font-size: 14px; display: inline-block; font-style: italic;">(PMM to Enter with Customer)</div>
						</th>
						<td>
							<i>
                $
              </i>
							<input (keydown)="calculateOrder()" type="text" name="originDestinationFee" formControlName="originDestinationFee" value="">

						</td>
						<td></td>
					</tr>
					<tr class="dark_bkgrd">
						<th>
							Additional Labor Set Up Charges
							<br>
							<div style="font-size: 14px; display: inline-block; font-style: italic;">(PMM to Enter with Customer)</div>
						</th>
						<td>
							<i>
                $
              </i>
							<input (keydown)="calculateOrder()" type="number" name="extraMan" formControlName="extraMan" value="" style="width: 70%; margin-right:5px; margin-top:6px;">
							<div style="left: 13px;">3rd man needed</div>
							<div style="left:13px; font-size: 11px; font-style: italic;">
								(200+ lbs): $150.00
							</div>
							<i>
                $
              </i>
							<input (keydown)="calculateOrder()" type="number" name="complexSetup" formControlName="complexSetup" value="" style="width: 70%; margin-right:5px; margin-top:6px;">
							<div style="left: 13px;">Complex/Medium Set Up</div>
							<div style="left: 13px; font-size: 11px; font-style: italic; left: 13px;">
								(Ex: Bed Assembly more than 4 points): $150.00
							</div>
							<i>
                $
              </i>
							<input (keydown)="calculateOrder()" type="number" name="simpleSetup" formControlName="simpleSetup" value="" style="width: 70%; margin-right:5px; margin-top:6px;">
							<div style="left: 13px;">Simple Set Up</div>
							<div style="left: 13px; font-size: 11px; font-style: italic;">
								(Ex: Bed Assembly 4 points): $50.00
							</div>
							<i>
                $
              </i>
							<input (keydown)="calculateOrder()" type="number" name="addFlightStairs" formControlName="addFlightStairs" value="" style="width: 70%; margin-right:5px; margin-top:6px;">
							<div style="left: 13px;">3rd Flight/Stairs</div>
							<div style="left: 13px; font-size: 11px; font-style: italic;">
								(If applicable based on Plycon arrival assesment): $80.00/addl. flight
							</div>
						</td>
						<td></td>
					</tr>
					<tr>
						<th>
							Special Packing: Crating/Blanket Wrap
							<br>
							<div style="font-size: 14px; display: inline-block; font-style: italic;">(PMM to Enter with Customer)</div>
						</th>
						<td>
							<i>
                $
              </i>
							<input (keydown)="calculateOrder()" type="number" name="cratingItem" formControlName="cratingItem" value="" style="width: 70%; margin-right:5px; margin-top:6px;">
							<div style="left: 13px;">Crating of Item:
								<br> $75.00 - $350.00
								<div style="font-size: 11px; font-style: italic;">
									Calculate Domestic: L x W x H x$1.50 / Int’l x$3.25 (Add Crated Item(s) amount into field)
								</div>
							</div>
							<i>
                $
              </i>
							<input (keydown)="calculateOrder()" type="number" name="extraBlanketWrap" formControlName="extraBlanketWrap" value="" style="width: 70%; margin-right:5px; margin-top:6px;">
							<div style="left: 13px;">Special Extra Blanket Wrap:
								<br> $50.00 - $300.00
								<div style="font-size: 11px; font-style: italic;">
									Calculate Special Wrap: L x W x H x .75c (Add Extra Blanket Wrap Item(s) amount into field)
								</div>
							</div>
						</td>
						<td></td>
					</tr>
					<tr class="dark_bkgrd">
						<th>Type of Service for Pricing</th>
						<td>
							White Glove
						</td>
						<td>
							<input type="hidden" name="serviceType" value="WHITE_GLOVE"></td>
					</tr>
				</table>
				<div class="header">
					Referral Quotes
				</div>
				<table class="quotes_tbl">
					<tr class="dark_bkgrd">
						<th>Q1: Plycon MicroMove Total Cost
							<div style="font-size: 12px; font-style: italic;">
								(No Charge: Standard Valuation Protection + $25 Processing Fee)
							</div>
						</th>
						<td style="border-bottom: 1px solid white; font-weight: bold; background-color: #ffefd1;" class="calculated">


							<span *ngIf="isString(q1)"> {{q1}}</span>
							<span *ngIf="!isString(q1)"> {{q1 | currency}}</span>
						</td>
						<td>

						</td>
					</tr>
					<tr>
						<th style="width: 75%;">Q2: Plycon MicroMove Total Cost
							<div style="font-size: 12px; font-style: italic;">
								(Purchased: Valuation Protection + $25 Processing Fee)
							</div>
						</th>
						<td style="border-bottom: 1px solid white; border-top: 1px solid white; font-weight: bold; background-color: #ffefd1;" class="calculated">


							<span *ngIf="isString(q2)"> {{q2}}</span>
							<span *ngIf="!isString(q2)"> {{q2 | currency}}</span>
						</td>
						<td>

						</td>
					</tr>
					<tr class="dark_bkgrd">
						<th style="width: 75%;">Carrier Partner (Name) Referral/Commission %
							<div style="font-size: 12px; font-style: italic;">
								(Carrier Partner receives “Self-Assigned” % of Transport Cost Only as Commission)
								<br> (Carrier Partner Commission/Referral is denoted as “Deposit” on PlyconMicroMove BOL)
							</div>
						</th>
						<td style="width: 15%;">
							<span class="alert" *ngIf="OrderForm.controls.pq1.errors?.required && !isFormValid">
                             **
                             </span>
							<input (keydown)="calculateOrder()" type="text" name="pq1" formControlName="pq1" style="width: 50%;" [ngClass]="{'red-border': OrderForm.controls.pq1.invalid && OrderForm.controls.pq1.touched}" required> %
						</td>
						<td style="border-bottom: 1px solid white; border-top: 1px solid white; font-weight: bold; background-color: #ffefd1;width: 50%; text-align: center;">
							{{pq1Total | currency}}
						</td>
					</tr>
					<tr>
						<th style="width: 75%;"> TOTAL #1: Carrier Partner / Deposit+ Plycon MicroMove Cost = Quote Customer
							<div style="font-size: 12px; font-style: italic;">
								(No Charge Standard Valuation Insurance .60c per pound.)
							</div>
						</th>
						<td style="border-bottom: 1px solid white; border-top: 1px solid white; font-weight: bold; background-color: #ffefd1;" class="calculated">


							<span *ngIf="isString(total1)"> {{total1}}</span>
							<span *ngIf="!isString(fuelCharge)"> {{total1| currency}}</span>
						</td>
						<td>
							<input type="radio" name="qSelected" formControlName="qSelected" value="q1" style="margin-left: 10px; margin-right: 10px; font-size: 80px;">Select
						</td>
					</tr>
					<tr class="dark_bkgrd">
						<th style="width: 75%;"> TOTAL #2: Carrier Partner / Deposit + Plycon MicroMove Cost = Quote Customer
							<div style="font-size: 12px; font-style: italic;">
								(Purchased Valuation Protection Insurance)
							</div>
						</th>
						<td style="border-top: 1px solid white; font-weight: bold; background-color: #ffefd1;" class="calculated">


							<span *ngIf="isString(total2)"> {{total2}}</span>
							<span *ngIf="!isString(fuelCharge)"> {{total2| currency}}</span>
						</td>
						<td>
							<input type="radio" name="qSelected" formControlName="qSelected" value="q2" style="margin-left: 10px; margin-right: 10px; font-size: 80px;">Select
						</td>
					</tr>
				</table>
			</form>

			<form [formGroup]="PaymentForm">
				<div class="header">
					Payment Information
				</div>
				<table class="ship_details_tbl">
					<tr *ngIf="ccList && ccList.length">
						<td class="sd_item" colspan="3" style="padding-bottom:0px !important">
							<label style="margin-bottom:0px !important; font-size:16px">
              <strong>Available Cards</strong>
            </label>
						</td>
					</tr>
					<tr *ngIf="ccList && ccList.length">
						<td class="sd_item" colspan="3">
							<select [(ngModel)]="selectedCard" (ngModelChange)="onSelectCard($event)" formControlName="selectCard">
                         <option *ngFor="let card of ccList" [ngValue]="card">
                         {{card.brand}}  ****{{card?.last4}} {{card.exp_month}}/{{card.exp_year}}
	                      </option>
	                      </select>

						</td>
					</tr>
					<tr>
						<td class="sd_item" colspan="3" style="padding-bottom:0px !important">
							<label style="margin-bottom:0px !important; font-size:16px">
              <strong>Add a Card</strong> <span style="margin-left:10px; font-size:12px; color:red; font-weight:bold;">{{stripemessage}}</span>
            </label>
						</td>
					</tr>
					<tr>
						<td class="sd_item">
							Credit Card Number

							<span class="alert" *ngIf="PaymentForm.controls.ccNumber.errors?.required && !isFormValid">
                             **
                             </span>


							<input class="width_100" type="text" formControlName="ccNumber" value="" [(ngModel)]="cardNumber" [ngClass]="{'red-border': PaymentForm.controls.ccNumber.invalid && PaymentForm.controls.ccNumber.touched}" required>

						</td>
						<td class="sd_item">
							Expiration Date - Month

							<span class="alert" *ngIf="PaymentForm.controls.month.errors?.required && !isFormValid">
                             **
                             </span>


							<input class="width_100" type="text" formControlName="month" value="" [(ngModel)]="expiryMonth" placeholder="MM" [ngClass]="{'red-border': PaymentForm.controls.month.invalid && PaymentForm.controls.month.touched}" required>

						</td>
						<td class="sd_item">
							Expiration Date - Year

							<span class="alert" *ngIf="PaymentForm.controls.year.errors?.required && !isFormValid">
                             **
                             </span>


							<input class="width_100" type="text" formControlName="year" value="" [(ngModel)]="expiryYear" placeholder="YY" [ngClass]="{'red-border': PaymentForm.controls.year.invalid && PaymentForm.controls.year.touched}" required>

						</td>
					</tr>
					<tr>
						<td class="sd_item">
							Security Code (CVV)

							<span class="alert" *ngIf="PaymentForm.controls.ccv.errors?.required && !isFormValid">
                             **
                             </span>


							<input class="width_100" type="text" formControlName="ccv" value="" [(ngModel)]="cvc" [ngClass]="{'red-border': PaymentForm.controls.ccv.invalid && PaymentForm.controls.ccv.touched}" required>

						</td>
						<td class="sd_item">
							Card Holder Name

							<span class="alert" *ngIf="PaymentForm.controls.ccName.errors?.required && !isFormValid">
                            **
                             </span>

							<input class="width_100" type="text" formControlName="ccName" value="" [(ngModel)]="cardName" [ngClass]="{'red-border': PaymentForm.controls.ccName.invalid && PaymentForm.controls.ccName.touched}" required>

						</td>
						<td class="sd_item">

						</td>
					</tr>
					<tr>
						<td class="sd_item">
							Address

							<span class="alert" *ngIf="PaymentForm.controls.address.errors?.required && !isFormValid">
                           **
                           </span>


							<input id="autocomplete4" class="width_100" type="text" formControlName="address" value="" [(ngModel)]="bill_street" [ngClass]="{'red-border': PaymentForm.controls.address.invalid && PaymentForm.controls.address.touched}" required>

						</td>
						<td class="sd_item">
							City

							<span class="alert" *ngIf="PaymentForm.controls.city.errors?.required && PaymentForm.controls.city.touched || (isValidBillFormSubmitted != null) && (!isValidBillFormSubmitted)">
                           **
                           </span>

							<input class="width_100" type="text" formControlName="city" value="" [(ngModel)]="bill_city" [ngClass]="{'red-border': PaymentForm.controls.city.invalid && PaymentForm.controls.city.touched}" required>

						</td>
						<td>
							State

							<span class="alert" *ngIf="PaymentForm.controls.state.errors?.required && !isFormValid">
                           **
                           </span>

							<input class="width_100" type="text" formControlName="state" value="" [(ngModel)]="bill_state" [ngClass]="{'red-border': PaymentForm.controls.state.invalid && PaymentForm.controls.state.touched}" required>

						</td>
					</tr>
					<tr>
						<td class="sd_item">
							Zip

							<span class="alert" *ngIf="PaymentForm.controls.zip.errors?.required && PaymentForm.controls.zip.touched || (isValidBillFormSubmitted != null) && (!isValidBillFormSubmitted)">
                          **
                           </span>


							<input class="width_100" type="text" formControlName="zip" value="" [(ngModel)]="bill_zipcode" [ngClass]="{'red-border': PaymentForm.controls.zip.invalid && PaymentForm.controls.zip.touched}" required>


						</td>
						<td class="sd_item">
							Phone

							<span class="alert" *ngIf="PaymentForm.controls.tel.errors?.required && !isFormValid">
                           **
                           </span>
							<span class="alert" *ngIf="PaymentForm.controls.tel.errors?.pattern">
                           add area code
                           </span>


							<input class="width_100" type="text" formControlName="tel" value="" [ngClass]="{'red-border': PaymentForm.controls.tel.invalid && PaymentForm.controls.tel.touched}" required>

						</td>
						<td></td>
						<!--         <td class="sd_item" style="top:12px">
            <input type="checkbox" (keydown)="useShippingAddress()" style="transform: scale(1.5);margin-right:10px"> Use shipping address
          </td> -->
					</tr>
				</table>
				<!--

-->

				<div id="outer">
					<div *ngIf="userRole !== 'superAdmin'" class="inner">

						<input type="submit" value="Delete Profile" (click)="deleteProfile()">

					</div>

					<div *ngIf="order['status']!='approved'" class="inner">

						<input type="submit" value="Save" (click)="onSave()">

					</div>
					<div *ngIf="userRole !== 'superAdmin'" class="inner">

						<input type="submit" value="Cancel" (click)="cancel()">
					</div>
					<div *ngIf="userRole === 'superAdmin'" class="inner">

						<input type="submit" value="Close" (click)="closePage()">

					</div>

					<div class="inner" *ngIf="order['status']!== 'submitted' && order['status']!== 'approved' && userRole !== 'superAdmin'">

						<input type="submit" value="Generate Quote" (click)="generateQuote()">

					</div>

					<div *ngIf="order['status']!='approved' && userRole === 'superAdmin'" class="inner">

						<input type="submit" value="Approve this Referral" (click)="approveReferral(order.id)">


					</div>

					<div *ngIf="userRole === 'superAdmin'" class="inner">

						<input type="submit" value="Reject this Referral" (click)="rejectReferral(order.id)">


					</div>

				</div>

				<div *ngIf="userRole === 'superAdmin'" class="header">
					Payment Adjustments
				</div>
				<table *ngIf="userRole === 'superAdmin'" class="ship_details_tbl">
					<tr>
						<td class="sd_item">
							<input type="submit" value="Charge Payment" (click)="chargeModal.show()">
							<span style="margin: 0 5px;"></span>
							<input type="submit" value="Refund Payment" (click)="refundModal.show()">
						</td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</form>

			<div style="font-weight: bold; font-size: 11px; height: 13px;">
				Note: Pricing can be changed at any time and at the discretion of Plycon MicroMove based on financial variables.
			</div>
		</div>
	</div>
	<footer class="footer">
		Plycon MicroMove
		<br> US DOT #0331582
		<br> Copyright 2018 (Patent Pending)
	</footer>

	<div mdbModal #chargeModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ChargeModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 style="color:black;" class="modal-title w-100" id="chargeModalLabel">Charge Payment</h5>
				</div>
				<div class="modal-body">
					<div style="margin:10px 10px 10px 2px; font-size:13px; color:red; font-weight:bold;">{{message}}</div>
					<table class="charge-modal">
						<tr>
							<td style="border:none; padding-bottom:0px !important">
								<label style="margin-bottom:0px !important; font-size:16px">
              <strong>Charge Amount</strong>
            </label>
							</td>

						</tr>

						<tr>
							<td style="border:none;">
								<input class="width_90" type="number" value="" [(ngModel)]="chargeAmount" required>
							</td>
							<td *ngIf="chargeCCList && chargeCCList.length" style="border:none;">
								<select [(ngModel)]="chargeSelectedCard" (ngModelChange)="onSelectChargeCard($event)"> 
            <option value="undefined">Select a Card</option>
            <option *ngFor="let card of chargeCCList" [ngValue]="card">
             {{card.brand}}  ****{{card?.last4}} {{card.exp_month}}/{{card.exp_year}}
	          </option>
	         </select>
							</td>
						</tr>

					</table>

					<br> Add a Card

					<table>
						<tr>
							<td style="border-color: white;">
								Credit Card Number
								<input class="width_90" type="text" value="" [(ngModel)]="chargeCardNumber" required>
							</td>
						</tr>
					</table>

					<table>
						<tr>
							<td style="border-color: white;" colspan="3">
								Expiration Date - Month
								<input class="width_90" type="text" value="" [(ngModel)]="chargeExpiryMonth" placeholder="MM" required>

							</td>
							<td style="border-color: white;">
								Expiration Date - Year
								<input class="width_90" type="text" value="" [(ngModel)]="chargeExpiryYear" placeholder="YY" required>

							</td>
							<td style="border-color: white;">
								Security Code (CVV)
								<input class="width_90" type="text" value="" [(ngModel)]="chargeCvc" required>

							</td>
						</tr>
					</table>

					<table>
						<tr>
							<td style="border-color: white;">
								Card Holder Name
								<input class="width_90" type="text" value="" [(ngModel)]="chargeCardName" required>
							</td>
						</tr>
					</table>
					<span style="font-weight:300; font-size:16px;">Billing Address</span>
					<input id="autocomplete5" class="width_100" type="text" #autoaddress required>
				</div>
				<div class="modal-footer">
					<button class="dialog-button" (click)="resetModals(); chargeModal.hide()">
        Close
    </button>

					<button class="dialog-button" (click)="getChargeToken(); chargeModal.hide();">
        Charge payment
    </button>

				</div>
			</div>
		</div>
	</div>


	<div mdbModal #refundModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="RefundModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 style="color:black;" class="modal-title w-100" id="refundModalLabel">Refund Payment</h5>
				</div>
				<div class="modal-body">
					<div style="margin:10px 10px 10px 2px; font-size:13px; color:red; font-weight:bold;">{{message}}</div>
					<table class="charge-modal">
						<tr>
							<td style="border:none; padding-bottom:0px !important">
								<label style="margin-bottom:0px !important; font-size:16px">
              <strong>Refund Amount</strong>
            </label>
							</td>

						</tr>

						<tr>
							<td style="border:none;">
								<input class="width_90" type="number" value="" [(ngModel)]="refundAmount" required>
							</td>
							<td *ngIf="chargeCCList && chargeCCList.length" style="border:none;">
								<select [(ngModel)]="chargeSelectedCard" (ngModelChange)="onSelectChargeCard($event)"> 
            <option value="undefined" disabled>Select a Card</option>
            <option *ngFor="let card of chargeCCList" [ngValue]="card">
             {{card.brand}}  ****{{card?.last4}} {{card.exp_month}}/{{card.exp_year}}
	          </option>
	         </select>
							</td>
						</tr>

					</table>

					<br> Add a Card

					<table>
						<tr>
							<td style="border-color: white;">
								Credit Card Number
								<input class="width_90" type="text" value="" [(ngModel)]="chargeCardNumber" required>
							</td>
						</tr>
					</table>

					<table>
						<tr>
							<td style="border-color: white;" colspan="3">
								Expiration Date - Month
								<input class="width_90" type="text" value="" [(ngModel)]="chargeExpiryMonth" placeholder="MM" required>

							</td>
							<td style="border-color: white;">
								Expiration Date - Year
								<input class="width_90" type="text" value="" [(ngModel)]="chargeExpiryYear" placeholder="YY" required>

							</td>
							<td style="border-color: white;">
								Security Code (CVV)
								<input class="width_90" type="text" value="" [(ngModel)]="chargeCvc" required>

							</td>
						</tr>
					</table>

					<table>
						<tr>
							<td style="border-color: white;">
								Card Holder Name
								<input class="width_90" type="text" value="" [(ngModel)]="chargeCardName" required>
							</td>
						</tr>
					</table>
					<span style="font-weight:300; font-size:16px;">Billing Address</span>
					<input id="autocomplete6" class="width_100" type="text" #autoaddress required>
				</div>
				<div class="modal-footer">
					<button class="dialog-button" (click)="resetModals(); refundModal.hide()">
        Close
    </button>

					<button class="dialog-button" (click)="getRefundToken(); refundModal.hide();">
        Refund payment
    </button>

				</div>
			</div>
		</div>
	</div>