<div class="roast-io-corner-ribbon">
  Beta
</div>



<section class="headers bg-light pb-60 pb-sm-80 pb-lg-240" id="headers-5">
<!--
  <div class="ph-10 ph-sm-30 ph-lg-20 p-20 mb-10 mb-lg-10">
    <div class="row justify-content-between align-items-center">
      <div class="col-2 col-sm-4">
-->
      
      
		  <!-- <nav class="navbar d-lg-none"><a href=""><img src="img/icons/burger.svg"/></a></nav> -->
        
        <!-- <nav class="navbar d-none d-lg-block"><a href="">Menu item 1</a><a href="">Menu item 2</a><a href="">Menu item 3</a></nav> -->
        
<!--      </div>-->
      
<!--
      <div class="col-2 col-sm-4 text-right d-none d-sm-block">
		   <nav class="navbar"><a href="">Link</a><a class="btn btn-small">Button</a></nav> 
        
      </div>
    </div>
  </div>
-->
 
  <div class="container body">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-sm-10 col-lg-6">
 <div class="row">
        <div class="col text-center text-white"> 
            <!-- Headers --> 
        </div>
    </div>
    <input type='checkbox' id='form-switch'>
    <div id="login-form" class="row justify-content-center mt-4" (keyup.enter)="loginUser()" >
<!--        <div class="col-lg-5 col-md-7 col-9">-->
            <div class="card">
            <div><img src="assets/img/logos/plycon_seal2.png" width="130" height="130" class="mt-4"/></div>
<!--               <h5 style="background: #0c1a3a; color:white;" class="card-header text-center">LOGIN</h5>-->
                <div class="card-body">
                
                 <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-envelope prefix" style="margin-top:22px; font-size:25px; color: #0c1a3a"></i></span>
					 <input placeholder="Email address" style="border-bottom: 1px solid lightgray; border-radius:0;" class="form-control" [formControl]="email" [(ngModel)]="emailadd"  type="email"> </div>
			
			<div style="color:red; font-size:10px; margin-top:5px;" *ngIf="email.touched && email.invalid">
				Please enter a valid email address
			</div>
			
	
			<br>
			
			         <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-lock prefix" style="margin-top:22px; font-size:30px; color:#0c1a3a;"></i></span>
					 <input placeholder="Password" style="border-bottom: 1px solid lightgray; border-radius:0;" class="form-control" [formControl]="pwd" [(ngModel)]="password"  type="password"> </div>
			
			<div style="color:red; font-size:10px; margin-top:5px;" *ngIf="pwd.touched && pwd.invalid">
				Please enter a valid password
			</div>
			
			<div style="padding:10px; color:red; font-size:12px; max-width:500px;">{{alert}}</div>
			<div *ngIf="isLoading" style="padding:10px; color:red; font-size:12px; max-width:500px;text-align:center;">
             Please wait while we authenticate your credentials...
			</div>
	
			 
			 
			 <br>
			 
			 <div style="text-align:center;">
			
			<button (click)="loginUser()" style="padding:5px 50px; cursor:pointer; background:transparent; border:0.75px solid #0c1a3a;" [disabled]="!emailadd || !password">Login</button>
				
					</div>
					
					<div style="text-align:center;margin-top:20px;"><a (click)="basicModal.show()" style="color:#0c1a3a; font-size:11px;">Forgot Password?</a></div>
					
					
	
                      
                </div>
<!--
                 <div style="font-size:12px; text-align:center;" class="card-footer text-muted">
					 Don't have an account? <label for='form-switch'><span style="color: #0c1a3a">SIGN UP HERE</span></label>
  </div>
-->
            </div>
            
<!--        </div>-->
    </div>
   

<div mdbModal #basicModal="mdb-modal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">X</button>
                <h4 style="color:black;" class="modal-title w-100" id="myModalLabel">Reset your password</h4>
            </div>
            <div class="modal-body">
               <p style="color:black;">Please check your email for instructions on how to reset your password</p>
               
               <br>
                <div>
                     <input style="border:1px solid #ccc" [(ngModel)]="recoveryemail" placeholder="Enter your email" #focusInput type="text" id="form1" class="form-control">
                     
                </div>
            </div>
            <div class="modal-footer">
                <button style="background-color:#0c1a3a; color:white" (click)="recoverPassword(); basicModal.hide()" type="button" class="btn">Reset password</button>
            </div>
        </div>
    </div>
</div>
      </div>
    </div>
  </div>
</section>  

<footer class="row justify-content-center text-center">
   <p class="mb-40">
          PlyconMicroMove.com
          Carrier Partnership
          Powered by PTG
          <br>
          US DOT #0331582
   </p>
</footer>