<!--   REGISTRATION-->

<div class="row">
  <div class="col text-center text-white">
    <!-- Headers -->
  </div>
</div>
<div id="register-form" class="row justify-content-center mt-5">
  <div class="col-lg-5 col-md-7 col-9">
    <div class="card">
      <h5
        style="background: #0c1a3a; color:white;"
        class="card-header text-center"
      >
        REGISTER CARRIER PARTNER
      </h5>
      <div class="card-body">
        <!--
                 <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-user prefix" style="margin-top:22px; font-size:25px; color: #0c1a3a"></i></span>
					 <input placeholder="First Name" style="border-bottom: 1px solid lightgray; border-radius:0;" class="form-control" [formControl]="first" [(ngModel)]="firstname"  type="text"> </div>
			
			<div style="color:red; font-size:10px; margin-top:5px; margin-left:45px;" *ngIf="first.touched && first.invalid">
				Please enter first name
			</div>
			
	
			<br>
               
                <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-user prefix" style="margin-top:22px; font-size:25px; color: #0c1a3a"></i></span>
					 <input placeholder="Last name" style="border-bottom: 1px solid lightgray; border-radius:0;" class="form-control" [formControl]="last" [(ngModel)]="lastname"  type="text"> </div>
			
			<div style="color:red; font-size:10px; margin-top:5px; margin-left:45px;" *ngIf="last.touched && last.invalid">
				Please enter last name
			</div>
-->

        <br />

        <div class="input-group">
          <span class="input-group-addon"
            ><i
              class="fa fa-user prefix"
              style="margin-top:22px; font-size:25px; color: #0c1a3a"
            ></i
          ></span>
          <input
            placeholder="Carrier Partner Name"
            style="border-bottom: 1px solid lightgray; border-radius:0;"
            class="form-control"
            [formControl]="namevalid"
            [(ngModel)]="name"
            type="text"
          />
        </div>

        <div
          style="color:red; font-size:10px; margin-top:5px; margin-left:45px;"
          *ngIf="namevalid.touched && namevalid.invalid"
        >
          Please enter carrier partner name
        </div>

        <div class="input-group">
          <span class="input-group-addon"
            ><i
              class="fa fa-envelope prefix"
              style="margin-top:22px; font-size:25px; color: #0c1a3a"
            ></i
          ></span>
          <input
            placeholder="Email Address"
            style="border-bottom: 1px solid lightgray; border-radius:0;"
            class="form-control"
            [formControl]="email"
            [(ngModel)]="emailadd"
            type="email"
          />
        </div>

        <div
          style="color:red; font-size:10px; margin-top:5px; margin-left:45px;"
          *ngIf="email.touched && email.invalid"
        >
          Please enter a valid email address
        </div>

        <div class="input-group">
          <span class="input-group-addon"
            ><i
              class="fa fa-phone prefix"
              style="margin-top:22px; font-size:25px; color: #0c1a3a"
            ></i
          ></span>
          <input
            placeholder="Phone Number"
            style="border-bottom: 1px solid lightgray; border-radius:0;"
            class="form-control"
            [formControl]="phonevalid"
            [(ngModel)]="phone"
            type="text"
          />
        </div>

        <div
          style="color:red; font-size:10px; margin-top:5px; margin-left:45px;"
          *ngIf="phonevalid.touched && phonevalid.invalid"
        >
          Please enter carrier partner phone number
        </div>

        <br />

        <!--
			         <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-lock prefix" style="margin-top:22px; font-size:30px; color:#0c1a3a;"></i></span>
					 <input placeholder="Password" style="border-bottom: 1px solid lightgray; border-radius:0;" class="form-control" [formControl]="pwd" [(ngModel)]="password"  type="password"> </div>
			
			<div style="color:red; font-size:10px; margin-top:5px; margin-left:45px;" *ngIf="pwd.touched && pwd.invalid">
				Please enter a valid password
			</div>
-->

        <br />

        <div style="text-align:center;">
          <button
            style="cursor:pointer; padding:5px 50px; background:transparent; border:0.75px solid #0c1a3a;"
            (click)="signUpUser()"
            [disabled]="!emailadd"
          >
            Register
          </button>
        </div>
      </div>
      <!--
                 <div style="font-size:12px; text-align:center;" class="card-footer text-muted">
					 Already a member? <label for='form-switch'><span style="color: #0c1a3a">LOGIN HERE</span></label>
  </div>
-->
    </div>
  </div>
</div>
